<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562077421923-kr84a172bfjqgr8bd2t32khfmkiimlon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562077421923-kr84a172bfjqgr8bd2t32khfmkiimlon</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>562077421923-f6mbd6gaafc8f6fq7cia6epbhbu56uqk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkL_-0CJ5l8wW3gbHJJkyDGGk6pmk-GQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>562077421923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.africaMedApp</string>
	<key>PROJECT_ID</key>
	<string>africamedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>africamedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562077421923:ios:146e068587e655fe490356</string>
	<key>DATABASE_URL</key>
	<string>https://africamedapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>